{% extends 'base.html.twig' %}

{% block title %}Users table!{% endblock %}

{% block body %}

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Users</span>
                <form method="post" id="myForm" action="{{ url('homeForm') }}">
                    <button type="submit" name="action" value="unblock" class="waves-effect waves-teal btn"><i class="fas fa-user" title="Unblock"></i></button>
                    <button type="submit" name="action" value="block" class="waves-effect waves-teal  btn"><i class="fas fa-ban" title="Block"></i></button>
                    <button type="submit" name="action" value="remove" class="waves-effect waves-teal  btn"><i class="fas fa-user-times" title="Remove"></i></button>
                    <table id="dataTable">
                        <thead>
                        <tr>
                            <th><label><input type="checkbox" id="selectAllCheckbox" onchange="selectAll()" /><span></span></label></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Last LogIn Date</th>
                            <th>Registration Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td><label><input type="checkbox" name="user{{ user.id }}"><span/></label></td>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.lastLogInDate | date }}</td>
                                <td>{{ user.registerDate | date }}</td>
                                <td>{{ user.isEnabled ? "Unblocked" : "Blocked"}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        function selectAll() {
            let table = document.getElementById ('dataTable');
            let checkboxes = table.querySelectorAll ('input[type=checkbox]');
            let val = checkboxes[0].checked;
            for (let checkbox of checkboxes) checkbox.checked = val;
        }
    </script>
{% endblock %}